extends layout.pug

block header
  title View Recipe

block content
  .py-3.text-center
    h2.bd-title #{recipe.title}
  .row
    .w-100
      .mb-3
        h6 Description:
        p(id='short-description' name='short_description') #{recipe.short_description}
      .mb-3
        h6 Preparation Time:
        p(id='preparation-time' name='preparation_time') #{recipe.preparation_time} minutes
      .mb-3
        h6 Ingredients:
        each ingredient in recipe_ingredients
          p(id='recipe-ingredients' name='recipe_ingredients') #{ingredient.name}
            a.btn.btn-primary.btn-lg(href=`${ingredient.ingredient_id}/edit` id='edit' name='edit') Edit Ingredient
            a.btn.btn-primary.btn-lg(href=`${ingredient.ingredient_id}/delete` id='delete' name='delete') Delete Ingredient
      .mb-3
        h6 Instructions:
        each step in recipe_steps
          p(id='recipe-steps' name='recipe_steps') #{step.step_number}. #{step.step_text}
            a.btn.btn-primary.btn-lg(href=`${recipe.recipe_id}/recipe-steps/${step.step_number}/edit` id='edit' name='edit') Edit Step
            a.btn.btn-primary.btn-lg(href=`${recipe.recipe_id}/recipe-steps/${step.step_number}/delete` id='delete' name='delete') Delete Step 
      
      a.btn.btn-primary.btn-lg(href=`${recipe.recipe_id}/recipe-ingredients/create` id='add-ingredient' name='add_ingredient') Add an Ingredient
      a.btn.btn-primary.btn-lg(href=`${recipe.recipe_id}/recipe-steps/create` id='add-step' name='add_step') Add a Step
      a.btn.btn-primary.btn-lg(href=`${recipe.recipe_id}/edit` id='edit' name='edit') Edit Recipe
      a.btn.btn-primary.btn-lg(href=`${recipe.recipe_id}/delete` id='delete' name='delete') Delete Recipe